<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635903087547-ritani228okm1c4kfb21c174q9jpielv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635903087547-ritani228okm1c4kfb21c174q9jpielv</string>
	<key>API_KEY</key>
	<string>AIzaSyAqAqdEXeJtSeqN7KBmSROPB-nG1kcefAs</string>
	<key>GCM_SENDER_ID</key>
	<string>635903087547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furkanleba.fastracker</string>
	<key>PROJECT_ID</key>
	<string>fastracker-ba66b</string>
	<key>STORAGE_BUCKET</key>
	<string>fastracker-ba66b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635903087547:ios:e7ea0ded52825111356a9e</string>
</dict>
</plist>